body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

nav{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:80px;
    padding:0px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
}

nav ul{
    list-style: none;
    float: left;
    margin:0;
    padding: 0;
    display: flex;
}

nav ul li a{
    line-height: 80px;
    color: #fff;
    padding:12px 30px;
    margin-top: 100%;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover{
    background-color: #beaeae
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background: url(../Poze/Disruption.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.one{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.one h1{
    font-family: "Poppins", sans-serif;
    display:flex;
    justify-content: center;
    color: #fff;
    font-size: 150px;
}

.two{
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container3{
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;
    padding: 200px;
}

.item-1{
    color:aliceblue;
    grid-area: 3 / 1 / 5 / 4;
    font-size:25px;
    margin: 0px;
}

.item-2{
    grid-area: 3 / 5 / 6 / 9;
    
}

.item-2 img{
    width:100%;
    max-height:100%;
    border-radius:3px;
}

.item-3{
    color:aliceblue;
    grid-area: 7 / 1 / 6 / 9;
    font-size:25px;
    margin: 0px;
}

.three{
    background-color:#beaeae;
    display:flex;
    align-items: center;
    justify-content: center;
}

.item-11{
    color:aliceblue;
    font-size:25px;
    margin:0;
    grid-area: 7 / 2 / 7 / 10;
}

.item-12{
    grid-area: 4 / 2 / 7 / 7;
}

.item-12 img{
    width:100%;
    max-height:100%;
    border-radius:3px;
}

.item-13{
    grid-area: 3 / 6 / -1 / -1;
}

.item-13 img{
    width:100%;
    max-height:100%;
    border-radius:3px;
}

.container4{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

.cartonas{
    width:250px;
    margin: 10px;
    background-color:white;
    border-radius: 15px;
    transition: 0.2s;
}

.cartonas-imagine img{
    width:100%;
    border-radius: 10px 10px 0px 0px;
}

.cartonas-continut h2{
    text-align: center;
}

.cartonas-continut p{
    text-align: center;
    padding: 5px;
}

.cartonas:hover{
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
}

.titlu-sectiune3{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:50px;
    color:white;
    margin-top:0;
}

.container2{
    display:flex;
}



.intro{
    height:90px;
    width:250px;
    padding: 6px;
    box-sizing:border-box;
    position: absolute;
    bottom:-50px;
    background: rgb(27, 27, 27, .5);
    color:white;
}

.intro h1{
    margin: 10px;
}

.intro p{
    visibility: hidden;
    opacity: 0;
}

.card:hover{
    cursor: pointer;
}

.card:hover .intro{
    height: 170px;
    width: 250px;
    background: black;
}

.card:hover p{
    opacity: 1;
    visibility: visible;
}

.dropdown li{
    display: block;

}

.dropdown{
    width: 10%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    z-index:999;
    display: none;
}

ul li:hover ul.dropdown{
    display: block;
}

